[submodule "ext/dircolors-solarized"]
    path = ext/dircolors-solarized
    url = https://github.com/seebi/dircolors-solarized.git
[submodule "ext/source-code-pro"]
    path = ext/source-code-pro
    url = https://github.com/adobe-fonts/source-code-pro.git
[submodule "ext/tmux-bash-completion"]
    path = ext/tmux-bash-completion
    url = https://github.com/imomaliev/tmux-bash-completion.git
[submodule "ext/tmux-conf"]
    path = ext/tmux-conf
    url = https://github.com/gpakosz/.tmux.git
[submodule "ext/git"]
	path = ext/git
	url = https://github.com/git/git.git
