[submodule "ext/dircolors-solarized"]
    path = ext/dircolors-solarized
    url = https://github.com/seebi/dircolors-solarized.git
    shallow = true
[submodule "ext/tmux-conf"]
    path = ext/tmux-conf
    url = https://github.com/gpakosz/.tmux.git
    shallow = true
[submodule "ext/itsapinhulk/shellutils"]
    path = ext/itsapinhulk/shellutils
	  url = ../shellutils.git
